.btn {
  width: 150px;
  margin: 5px;
}

.form-control {
  width: 150px;
  margin: 5px;
}

#containerOptions, #containerBase {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 50px;
  margin-left: 70px;
}

.btn-secondary {
  background-color: darkslategrey;
}

#left {
  float:left;
}
#middle {
  display: inline-block;
  margin: 0 auto;
}
#right {
  float:right;
}
